SECRET_KEY=change-me-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com

# Lokalda boş qoy → sqlite işlədəcək
DATABASE_URL=

# Cloudinary (production-da şəkil saxlamaq üçün)
# cloudinary.com → Dashboard → API Environment variable
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
